table, th, td {
	/* border: 1px solid black;	 */
	border-collapse: collapse;
	text-align: center;
	min-width: 30px;
}

#tape_div {
	overflow-x: auto;
}

#tape_row_top td {
	border: 1px solid black;
}

#tape_row_bottom td {
	border: 0;
}

.cur_selected_top_cell {
	font-weight: bold;
	background-color: rgb(255, 255, 200);
}